@import '../../variables';

.main {
  background-color: white;
  letter-spacing: .3em;
  height: 100vh;
  width: 100%;
}

.main-content {
  color: $main;
  letter-spacing: .01em;
  padding: 1em;
  width: 50%;
}