@import '../../variables';

.main {
  background-color: white;
  letter-spacing: .3em;
  padding-bottom: 3em;
}

#contact {
  color: $main;
  letter-spacing: .1em;
  text-align: center;
}

.contact-img {
  height: 2em;
  margin: 0 .5em 0 .5em;
  transition: background 0.5s, transform 0.5s ease-out, fill 0.5s;
  width: 2em;
}

.contact-img:hover {
    transform: scale(1.2);
    transition: background 0.5s, transform 0.3s ease-out, fill 0.5s;
}

.contact-header {
  margin-bottom: .5em;
}