@import '../../variables';

.main {
  background-color: white;
  letter-spacing: .3em;
  padding-bottom: 3rem;
}

#contact {
  color: $main;
  letter-spacing: .1em;
  text-align: center;
}

.contact-img {
  height: 2rem;
  margin: 0 .5rem 0 .5rem;
  width: 2rem;
}

.contact-header {
  margin-bottom: .5rem;
}