@import '../../variables';

.main-content {
  color: $main;
  letter-spacing: .01em;
  padding: 1em;
  width: 50%;
  @include portrait-tablet {
    font-size: .9em;
  }
}

.github-repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    height: 17em;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    width: 100%;
  }
}

.github-repo-list-container {
  color: $main;
  letter-spacing: .01em;
  padding: 1em;
  text-align: center;
}

.skills {
  height: 11em;
  letter-spacing: .01em;
  margin: auto;
  width: 60%;
  @include desktop {  
    height: 12em; 
    margin-bottom: 6em;
    width: 50%; 
  }
  @include landscape-tablet {
    padding: 0 2em 0 2em;
  }
  @include portrait-tablet {
    height: 10em;
    margin-bottom: 2em;
    width: 100%;
  }
  @include for-phone-only {
    height: 5em;
    margin-bottom: 0;
  }
}

.skills-header {
  color: $main;
  text-align: center;
  @include for-phone-only {
    margin-bottom: 0;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  @include for-phone-only {
    display: inline-block;
    height: 5em;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    width: 100%;
  }
}

.github-link {
  margin-left: .5em;
}