@import '../../variables';

.main-content {
  color: $main;
  letter-spacing: .01em;
  padding: 1em;
  width: 50%;
}

.github-repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.github-repo-list-container {
  color: $main;
  letter-spacing: .01em;
  padding: 1em;
  text-align: center;
}

.skills {
  height: 11em;
  letter-spacing: .01em;
  margin: auto;
  width: 60%;
  @include desktop {  
    height: 12em; 
    margin-bottom: 6em;
    width: 50%; 
  }
  @include landscape-tablet {
    padding: 0 2em 0 2em;
  }
}

.skills-header {
  color: $main;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

.github-link {
  margin-left: .5em;
}