@import '../../variables';

.repo-list-item {
  border: 1px solid $main;
  color: $main;
  height: 15em;
  margin: 1em;
  padding: 1.5em;
  transition: transform .3s;
  width: 30%;
  &:hover {
    box-shadow: 1px 2px;
    transform: scale(1.01)
  }
}