@import '../../variables';

.nav {
  align-items: center;
  background-color: $main;
  display: flex;
  height: 15%;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.main-title {
  color: $primary-font-color;
  display: block;
  font-size: 2em;
  @include portrait-tablet {
    font-size: 1.5em;
  }
}

.link-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%;
  @include portrait-tablet {
    font-size: .8em;
  }
  @include for-phone-only {
    flex-direction: column;
    height: 2.5em;
    justify-content: space-around;
    //justify-content: flex-end;
  }
}

.nav-link {
  color: $primary-font-color;
  letter-spacing: .01em;
  text-decoration: none;
  transition: border 500ms ease;
  @include for-phone-only {
    display: none;
  }
}

.nav-link::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: $primary-font-color;
  transition: 500ms;
}

.nav-link:hover::after {
  width: 100%;
}

.burger {
  display: none;
  height: 2.5em;
  width: 2.5em;
  @include for-phone-only {
    display: block;
  }
}

.nav-opaque {
  align-items: center;
  background-color: $main;
  display: flex;
  height: 15%;
  justify-content: space-between;
  opacity: 40%;
  padding: 20px;
  text-align: center;
}

.burger-2 {
  height: 10em;
  width: 10em;
}

.span-inactive {
  background-color: white;
  border-radius: 20%;
  height: .3em;
  margin-left: auto;
  width: 18%;
}

#nav-icon1:hover {
  transform: ease rotate(45deg);
  top: -3px;
  left: 8px;
}