@import '../../variables';

.nav {
  align-items: center;
  background-color: $main;
  display: flex;
  height: 20%;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  text-align: center;
}

.main-title {
  color: $primary-font-color;
  display: block;
  font-size: 2em;
  @include portrait-tablet {
    font-size: 1.5em;
  }
}

.link-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%;
  @include portrait-tablet {
    font-size: .8em;
  }
  @include for-phone-only {
    flex-direction: column;
    height: 2.5em;
    justify-content: space-around;
  }
}

.nav-link {
  color: $primary-font-color;
  letter-spacing: .01em;
  text-decoration: none;
  transition: border 500ms ease;
  @include for-phone-only {
    display: none;
  }
}

.nav-link::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: $primary-font-color;
  transition: 500ms;
}

.nav-link:hover::after {
  width: 100%;
}

.burger {
  display: none;
  height: 2.5em;
  width: 2.5em;
  @include for-phone-only {
    display: block;
  }
}

.burger-2 {
  height: 10em;
  width: 10em;
}

.link-container-active {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%;
  @include portrait-tablet {
    font-size: .8em;
  }
  @include for-phone-only {
    flex-direction: column;
    height: 2.5em;
    justify-content: space-around;
  }
}

.span-burger {
  background-color: white;
  border-radius: 20%;
  height: .3em;
  margin-left: auto;
  width: 18%;
}

// #link-container {
//   z-index: 15;
// }

#link-container span {
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

#link-container.link-container-active span {
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

#link-container.link-container span:nth-child(1) {
  transform: rotate(38deg);
  transform-origin: top left;
  width: 18%;
}

#link-container.link-container span:nth-child(2) {
  opacity: 0;
  width: 0%;
}

#link-container.link-container span:nth-child(3) {
  transform: rotate(-38deg);
  transform-origin: bottom left;
  width: 18%;
}

#link-container.link-container-active span:nth-child(1) {
  transform: rotate(0deg);
}

#link-container.link-container-active span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

#link-container.link-container-active span:nth-child(3) {
  transform: rotate(0deg);
}