@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;500;700&display=swap');

$main: #3A3B46;
$primary-font: 'Spartan';
$light-font-weight: 200;
$medium-font-weight: 400;
$medium-heavy-font-weight: 500;
$heavy-font-weight: 700;
$primary-font-color: #F1BE3F;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin portrait-tablet {
  @media (max-width: 730px) { @content; }
}

@mixin landscape-tablet {
  @media (max-width: 950px) { @content; }
}

@mixin smaller-desktop {
  @media (max-width: 1050px) { @content; }
}

@mixin desktop {
  @media (max-width: 1470px) { @content; }
}