@font-face {
    font-family: 'League Spartan';
    src:
         url('LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: 'League Spartan';
  height: 100vh;
  margin: 0;
}