@import './variables';

* {
  box-sizing: border-box;
}

body {
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  font-family: $primary-font;
  height: 100vh;
  margin: 0;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}